.home {
    --bd-red: #FF0000; /* Red color */
    --bd-black: #000000; /* Black color */
    
    .bd-masthead {
        padding: 3rem 0;
        background-color: var(--bd-black); /* Black color */
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-red); /* Red color */
        --bs-btn-border-color: var(--bd-red); /* Red color */
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: var(--bd-black); /* Black color */
        --bs-btn-hover-border-color: var(--bd-black); /* Black color */
        --bs-btn-focus-shadow-rgb: var(--bd-red-rgb); /* Red color */
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: var(--bd-black); /* Black color */
        --bs-btn-active-border-color: var(--bd-black); /* Black color */
    }
    
    .navbar {
        padding: .75rem 0;
        background-color: var(--bd-black); /* Black color */
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15), inset 0 -1px 0 rgba(0,0,0,0.15);
    }

    .navbar-brand,
    .nav-link {
        color: var(--bs-white); /* White color */
    }

    .navbar-brand:hover,
    .nav-link:hover {
        color: var(--bd-red); /* Red color */
    }

    .list {
        .card {
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: scale(1.01);
            }
        }
    }

    .navbar-brand {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: rotate(-2deg) scale(1.1);
        }
    }
}

.navbar {
    padding: .75rem 0;
    background-color: var(--bd-black); /* Black color */
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15), inset 0 -1px 0 rgba(0,0,0,0.15);
}

.navbar-brand,
.nav-link {
    color: var(--bs-white); /* White color */
}

.navbar-brand:hover,
.nav-link:hover {
    color: var(--bd-red); /* Red color */
}

.list {
    .card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.navbar-brand {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: rotate(-2deg) scale(1.1);
    }
}
